.unordered {
    color: rgb(184, 17, 184);
    border: 20px solid;
    border-radius: 50px ;
    border-color: rgb(231, 231, 200);
    border-style: ridge;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 30px;
    box-shadow: 20px;
    background-color: antiquewhite;
}

.ordered {
    color: rgb(246, 244, 247);
    font-style: inherit;
    border: 30px;
    border-color: ;
    border-radius: 50px;
    border-style: ridge;
    text-align: left;
    padding-left: 30px;
    box-shadow: 20px;
    background-color: rgb(34, 67, 116);
}

    body{
    background-color: rgb(236, 244, 247);
    text-align: justify;
}

.id {
    color: rgb(59, 110, 9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 30px;
    border-color: blueviolet;
    border-style: outset;
    border-radius: 15px;
    font-size: 30px;
    padding-left: 10px;
}
